<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>SRMSS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>my dashbord</description>
    <display-name>Dashbord</display-name>
    <servlet-name>Dashbord</servlet-name>
    <servlet-class>com.venance.Dashbord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashbord</servlet-name>
    <url-pattern>/Dashbord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.venance.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterStudent</display-name>
    <servlet-name>RegisterStudent</servlet-name>
    <servlet-class>com.venance.RegisterStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterStudent</servlet-name>
    <url-pattern>/RegisterStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterItem</display-name>
    <servlet-name>RegisterItem</servlet-name>
    <servlet-class>com.venance.RegisterItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterItem</servlet-name>
    <url-pattern>/RegisterItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MakeNotification</display-name>
    <servlet-name>MakeNotification</servlet-name>
    <servlet-class>com.venance.MakeNotification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeNotification</servlet-name>
    <url-pattern>/MakeNotification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfile</display-name>
    <servlet-name>EditProfile</servlet-name>
    <servlet-class>com.venance.EditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfile</servlet-name>
    <url-pattern>/EditProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditItems</display-name>
    <servlet-name>EditItems</servlet-name>
    <servlet-class>com.venance.EditItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditItems</servlet-name>
    <url-pattern>/EditItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditItemFile</display-name>
    <servlet-name>EditItemFile</servlet-name>
    <servlet-class>com.venance.EditItemFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditItemFile</servlet-name>
    <url-pattern>/EditItemFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfilePicture</display-name>
    <servlet-name>EditProfilePicture</servlet-name>
    <servlet-class>com.venance.EditProfilePicture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfilePicture</servlet-name>
    <url-pattern>/EditProfilePicture</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteItem</display-name>
    <servlet-name>DeleteItem</servlet-name>
    <servlet-class>com.venance.DeleteItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteItem</servlet-name>
    <url-pattern>/DeleteItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteResponseMessage</display-name>
    <servlet-name>DeleteResponseMessage</servlet-name>
    <servlet-class>com.venance.DeleteResponseMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteResponseMessage</servlet-name>
    <url-pattern>/DeleteResponseMessage</url-pattern>
  </servlet-mapping>
</web-app>